[Desktop Entry]
Version=10.0
Type=Application
Terminal=false
Icon=/home/ava/Applications/Burp/burp.png
Exec=burpsuite
Name=Burp Suite
Comment=Break Web Stuff
Keywords=burp suite;
Categories=Utility
